In [ ]:
# 1.Data Creation.
#DataFram()

In [2]:
import pandas as pd 
import random
data={
    'Name':['Dev','aman','shivam','kamal','arjun','jyoti'],
     'age':[random.randint(20,30) for _ in range(6)],
    'marks':[random.randint(50,99) for _ in range(6)],
    'mobile':[random.randint(100000000,999999999) for _ in range(1,7)]}
frame=pd.DataFrame(data)
frame
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   age     6 non-null      int64
 2   marks   6 non-null      int64
 3   mobile  6 non-null      int64
dtypes: int64(3), object(1)
memory usage: 324.0+ bytes

In [12]:
#read_csv()
path=r'C:\Users\vikra\Downloads\annual-enterprise-survey-2024-financial-year-provisional-size-bands (1).csv'
data=pd.read_csv(path)
frame=pd.DataFrame(data)
frame

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21667,2024,all,All Industries,j_Grand_Total,Salaries and wages paid,157616,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21668,2024,all,All Industries,j_Grand_Total,"Sales, government funding, grants and subsidies",838626,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21669,2024,all,All Industries,j_Grand_Total,Total assets,2931807,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21670,2024,all,All Industries,j_Grand_Total,Total expenditure,856960,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21671,2024,all,All Industries,j_Grand_Total,Total income,979594,DOLLARS(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
path=r'C:\Users\vikra\Downloads\annual-enterprise-survey-2024-financial-year-provisional-size-bands (1).csv'
data=pd.read_csv(path)
frame=pd.DataFrame(data)
# frame.head()  # start se 5 rows dikhta hai
# frame.tail()     # last ki 5 rows dikhta hai
frame[]

TypeError: 'DataFrame' object is not callable

In [ ]:
9